<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="/css/global.css">
	</head>
	<body>
		

		<header>
			<nav class='nav-header'>
				<a href={{path('home')}}>Accueil</a>
				<a href="/profil">Profil</a>
				<a href={{path('contact')}}>Contact</a>
			</nav>
		</header>

		<main>
			<h1>Bienvenue
				{{nom|capitalize ~ " " ~ prenom|capitalize}}
                        Nombre de note {{notes|length}}
				!</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Nesciunt saepe blanditiis, excepturi id at amet reiciendis ad!
				Voluptate dolor omnis nam, provident veritatis, iure inventore vel repellendus expedita tempore asperiores?
			</p>
		</main>

		<footer>
			<nav class='nav-footer'>
				<a href={{path('home')}}>Accueil</a>
				<a href="/profil">Profil</a>
				<a href={{path('contact')}}>Contact</a>
			</nav>
		</footer>
	</body>
</html>
