 {% extends "layout.html.twig" %}
{% block titrePage %}
<title>Page d'Accueil </title>
 {% endblock %} 



{% block contenuPage %}

			<h1>Bienvenue
				{{nom|capitalize ~ " " ~ prenom|capitalize}}
				!</h1>

			<p>
				{% if notes|length > 0 %}
					vous avez
					{{notes|length}}
				{% else %}
					vous n'avez pas de notes
				{% endif %}

				{# operateur ternére c 'est un if en une seule ligne  #}
				{# {% notes|length > 0 ? "vous avez des notes" : "vous n'avez pas de notes" %} #}
			</p>
			{% for cle, valeur in notes %}
			<p>
			{{cle}}: {{valeur}}
			</p>
			<span>{{ valeur >= 10 ? "validé" : "non validé" }}</span>
			{% endfor %}

		
{%  endblock %} 

